{% trans_default_domain 'header.logo' %}

<!-- BEGIN LOGO -->
<div class="page-logo">
    <a href="{{ path('home') }}">
        {% if false %}
        <img src="http://54.36.182.3/themes/metronic/4.7.5/theme/assets//layouts/layout2/img/logo-default.png" alt="logo" class="logo-default" />
        {% else %}
        <h3>LMS</h3>
        {% endif %}
    </a>
    <div class="menu-toggler sidebar-toggler">
        <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
    </div>
</div>
<!-- END LOGO -->
