{% trans_default_domain 'header.logo' %}

<!-- BEGIN LOGO -->
<div class="page-logo">
    <a href="{{ path('home_index') }}" style="text-decoration: none">
        {% if false %}
        <img src="https://keenthemes.com/preview/metronic/theme/assets//layouts/layout2/img/logo-default.png" alt="logo" class="logo-default" />
        {% else %}
            <h4 style="color: white" class="logo-default"><b>LIBRARY</b><br><span style="font-size: small">Management System</span></h4>
        {% endif %}
    </a>
    <div class="menu-toggler sidebar-toggler">
        <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
    </div>
</div>
<!-- END LOGO -->
