{% trans_default_domain 'header' %}

{% block header %}
    <!-- BEGIN HEADER -->
    <div class="page-header navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner ">
            {{ include('_modules/header/inner/_logo.html.twig') }}
            {{ include('_modules/header/inner/_responsive_menu_toggler.html.twig') }}
            {{ include('_modules/header/inner/_actions.html.twig') }}
            {{ include('_modules/header/inner/_top.html.twig') }}
        </div>
        <!-- END HEADER INNER -->
    </div>
    <!-- END HEADER -->
{% endblock header %}
